// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_content{
    padding: 5%;

    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 5px 5px 1px gray;

    letter-spacing: 0.5px;

    h1{
      text-align: center;
      text-decoration: underline;
    }

    p {
      font-family: monospace;
    }

    .article_item{
      padding: 1.5% 4%;
      margin: 1%;
      background-color: white;

      a {
        color: black;
      }
      a:hover{
        color: black;
        background-color: white;
      }
    }

    .article_item:nth-child(even){
      background-color: rgb(12, 12, 12);
      color: white;
      padding: 1.5% 4%;
      margin: 1%;

      a{
        color: white;
        background-color: black;
      }
    }
    .category_content{
      width: 50%;
      margin: 0 auto 35px;
      text-align: center;
      .category_item{
        padding: 0 15px;
        text-transform: uppercase;

        a {
          color: black;
        }
        a:hover{
          color: white;
        }
      }
    }

}

.show_article_content{
    width: 800px;
    margin: 0 auto;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 5px 5px 1px gray;
    padding: 2.5% 10% 10%;
    background-color: white;
    h1{
      text-align: center;
    }
}

.new_article_content{
  text-align: center;

  input[type="submit"]{
    border: none;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 1%;
    border-radius: 25px;
    cursor: pointer;
    transition: color 1s;
    transition: background-color 1s;
  }

  input[type="submit"]:hover {
    color: white;
    background-color: black;
  }
}

.article_buttons{
  width: 100%;
  height: 50px;
  margin: 2.5% 0;
  padding: 2.5% 5% 0;
  text-align: center;
  border: 1px solid black;
}
